<div *ngIf="freelancers.length > 2; else second" class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4" *ngFor="let freelancer of freelancers">
      <div class="item">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
        <h2 class="fw-normal">{{freelancer.name | uppercase}}</h2>
        <p>Tanggal {{tanggal | date}}</p>
        <p>Phone <b>{{freelancer.phone | phone}}</b></p>
        <p>Skill <b>{{freelancer.skill}}</b></p>
        <p>Notes <b>{{freelancer.notes}}</b></p>
        <p><a class="btn btn-secondary" routerLink="/detail/{{freelancer.id}}">View profile &raquo;</a></p>
      </div>
    </div><!-- /.col-lg-4 -->
    
  </div><!-- /.row -->
</div>


<ng-template #second>Data kosong</ng-template>

